<div class="modal-header">
    <h3 class="modal-title">Search Music: 5</h3>
</div>

<div class="modal-body" ng-controller="MusicSearchCtrl">
<form novalidate class="simple-form">
<input type="text" width="300px" ng-model="musicSearch.term" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }""/><br/>
</form>

<p>Album:<hr/><br/>
    <span ng-repeat="album in musicSearch.albums">
        <img width="40px" height="40px" ng-src="/api/album/{{album.id}}/cover.jpg"/>
        <a ng-href="#/album/{{album.id}}" ng-click="$close($event)">{{album.name}}</a> -
        <span ng-repeat="artist in album.artists">
            <a ng-href="#/artist/{{artist.id}}/album" ng-click="$close($event)">{{artist.name}}<br/></a>
        </span><br/>
    </span>
</p>

<p>Artist:<hr/><br/>
<p ng-repeat='(letterKey, letterValue) in musicSearch.artists'>{{letterKey}}
    <a ng-href="#/artist/{{a.id}}/album" ng-repeat="a in letterValue" ng-click="$close($event)">{{a.name}}<br/></a>
</p>
</p>
