body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}

/* the album page */
#album-images {
  position: absolute;
  width: 240px;
  top: 50px;
  left: 0px;
}
#album-images a:first-child img {
 width: 240px;
 height: 240px;
}
#album-description {
  position: absolute;
  top: 50px;
  left: 260px;
  right: 0px;
}
.cover {
 width: 80px;
 height: 80px;
}

.query-item {
height: 200px;
}
