body { margin: 0px; margin-left: 3px; margin-top: 28px; overflow-x: hidden; }
* { font-family: sans-serif; font-size: 10px; font-weight: normal; }

.album { width: 160px; float:right; border:0px; padding:5px; text-align: center; }

a:link { color:DarkBlue; text-decoration:underline; }
a:visited { color:DarkBlue; text-decoration:underline; }
a:focus { color:Blue; text-decoration:underline; }
a:hover { color:Blue; text-decoration:underline; }
a:active { color:Blue; text-decoration:underline; }

.album { width: 160px; float:right; border:0px; padding:5px; text-align: center; }

#album-images a:first-child img {
 width: 240px;
 height: 240px;
}
.cover {
 width: 80px;
 height: 80px;
}

img.ng-thumb:first-child img {
 width: 240px;
 height: 240px;
}
img.ng-thumb {
  position: absolute;
  width: 240px;
  top: 50px;
  left: 0px;
}
#album-description {
  position: absolute;
  top: 50px;
  left: 260px;
  right: 0px;
}

/* TODO */
.ng-pageslide {
                background: #eee;
            }

table {
    border: none;
    empty-cells: show;
    padding: 5px;
}
tr, td {
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #AAAAAA;
}
/* videogular */
.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}


/*  Start Bootstrap - 4 Col Portfolio (http://startbootstrap.com/) */
.query-item {
    margin-bottom: 50px;
    border: thin solid black;
    padding: 10px;
}
